{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<style>
      .but1
        {
        color:white;
        font-size:13px;
        border-radius:5px;
        }
        .but1:hover
        {
        background:#ff0099;
        color:white;
        text-decoration:underline;
        transition:all ease 1s;
        }

</style>
<div class="row">
    <div class="h3 text-center pt-2"><b>Cart</b><b style="color:#4e83ab">Items<i class="fa fa-shopping-cart"></i></b></div>

    <div class="col-sm-12 py-2 text-center fontfamily">
        <table class="table table-stripted "style="font-size:15px;">
            <tr class="bg-light">
                
                <th>{% trans "Book Name" %}</th>
                <th>{% trans "Book Image" %}</th>
                <th>{% trans "Published Date" %}</th>
                <th>{% trans "Price" %}</th>

                <th>{% trans "Discounted Price" %}</th>
                <th>{% trans "Remove" %}</th>
                <th>{% trans "Order" %}</th>
            </tr>
            {% if cart %}
            {% for x in cart %}
            <tr class="fonts text-center m-3"style="font-size:14px;padding-top:10px;">
                <td class="pt-5"><b>{{x.3}}<b></td>
                <td ><img src="/{{x.4}}" class="img-thumbnail" style="max-height:80px"/></td>
                <td class="pt-5">{{x.11}}</td>
                <!-- <td class="pt-5">{{x.12}}</td> -->
                <td class="pt-5"><i class="btn btn-outline-danger"><s>{{x.8}}</s></i></td>
                <td class="pt-5"><i class="btn btn-outline-success">{{x.9}}</i></td>
                <td class="pt-5">
  <a href="/user1/cart/?cartid={{x.0}}" class="btn rounded but fontfamily" style="font-size:14px;background:#dc3545;">Remove Item</a>
</td>

                {% if x.1 %}
  <td><a href="{% url 'start_payment' x.1 %}" class="btn btn-success">Order</a></td>
{% else %}
  <td><button class="btn btn-secondary" disabled>Order</button></td>
{% endif %}

            </tr>
            {% endfor %}
            {% endif %}
        </table>
    </div>

</div>
{% endblock %}